 @import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
body{
  background-color: #F2D4A4;
  min-height: 100vh;
}
/* 全体を囲うコンテナー */
.container {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 時計の共通スタイル */
.clock {
  font-family: 'Montserrat',SemiBold 600;
  color: #134074;
  line-height: 1.2;
  text-align: center;
}

/* 日付のスタイル */
.clock-date {
  font-size: 25px;
}

/* 時間のスタイル */
.clock-time {
  font-size: 100px;
}

/* 文字サイズ調整 */
@media screen and (max-width: 500px) {
  .clock-date {
    font-size: 5vw;
  }
  .clock-time {
    font-size: 20vw;
  }
}

/*ボタンのスタイル*/
button{
  border-radius: 50% !important;
  background-color: #FBB13C !important;
  color: #134074 !important;
  /* margin: right !important; */
  width: 200px !important;
  height: 200px !important;
}