body{
	min-height: 100vh;
	min-width: 100vw;
	margin: 0px;
	background-color: #F2D4A4;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
p{
	color: #134074 !important;
	text-align: 	center;
	font-size: 400%;
	margin: 0px;
}
.coment{

}
.centering{
	display:flex;
	justify-content: center;

}
button{
	background-color: #FBB13C;
	border-radius: 10%;
	border: 0px;
	margin: 10vw;
	padding: 0px;
	height: 30vw;
	width: 30vw;
}
a{
	display: inline-block;
	display: block;
	color: #134074;
}

img{
	width: 90%;
	height: 90%;
	object-fit: cover;
}